atomicwrites==1.4.0
attrs==21.2.0
colorama==0.4.4
iniconfig==1.1.1
numpy==1.20.3
opencv-python==4.5.2.54
packaging==20.9
Pillow==8.2.0
pluggy==0.13.1
pure-python-adb==0.3.0.dev0
py==1.10.0
pyparsing==2.4.7
pyperclip==1.8.2
PySimpleGUI==4.44.0
pytesseract==0.3.7
pytest==6.2.4
toml==0.10.2
vectormath==0.2.2
