atomicwrites==1.4.0
attrs==20.3.0
colorama==0.4.4
decorator==4.4.2
iniconfig==1.1.1
numpy==1.19.5
packaging==20.8
Pillow==8.1.0
pluggy==0.13.1
pure-python-adb==0.3.0.dev0
py==1.10.0
PyAutoGUI==0.9.52
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyparsing==2.4.7
pyperclip==1.8.1
PyRect==0.1.4
PyScreeze==0.1.26
pytesseract==0.3.7
pytest==6.2.1
python3-xlib==0.15
PyTweening==1.0.3
retry==0.9.2
toml==0.10.2
vectormath==0.2.2
